{% extends "todo/base.html" %}
{% load crispy_forms_filters %}
{% block contents %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tag }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <h1>Login</h1>
        {{ form|crispy }}

        <button type="submit">login</button>
    </form>
    need an account?
    <a href="{% url "signup" %}"> Login again</a>
{% endblock %}
