{% extends 'users/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} <title>signup</title> {% endblock %}
{% block content %}
   <body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0" data-gr-c-s-loaded="true">

    <!-- CONTENT
    ================================================== -->
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
          <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">

            <!-- Image -->
            <img src="{% static 'users/illustration.png' %}" alt="..." class="img-fluid">

          </div>
          <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">

            <!-- Heading -->
            <h1 class="mb-0 font-weight-bold text-center">
              Sign up
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted">
              Simplify your workflow in minutes.
            </p>

            <!-- Form -->
            <form class="mb-6" method="POST">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control mb-5" %}
                    {% endif %}
                {% endfor %}

                      <!-- Submit -->
                    <button class="btn btn-block btn-primary mt-2" type="submit">
                        Sign up
                    </button>
                </div>
            </form>

            <!-- Text -->
            <p class="mb-0 font-size-sm text-center text-muted">
              Already have an account? <a href="{% url 'login' %}">Log in</a>.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
   </body>
{% endblock %}
